/* css reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Montserrat, 'Helvetica Neue', sans-serif;
}

/* Generics */
header {
    padding: 15px;
    
}

main {
    background-color: #f6f5f3;
    
}

section {
    padding: 1rem 0;
}

h1 {
    font-family: 'Nerko One', cursive;
    color: #fb9413;
    text-shadow: 1px 1px 1px #979797;
    text-align: center;
    font-size: 56px;
    font-weight: 500;
}

h2 {
    color: #4e3969;
    font-size: 30px;
}

a {
    text-decoration: none;
    color: black;
}

/* Utils */
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem;
}

.splitter {
    border: 1px solid lightgrey;
    margin: 15px 0;
}

.bg-orange {
    background-color: #fb9413;
}

.bg-lightgrey {
    background-color: #f6f5f9;
}

.p-15 {
    padding: 15px;
}

.mb-20 {
    margin-bottom: 20px;
}

/* Button */
.btn {
    padding: 10px 15px;
    border-radius: 20px;
    font-weight: 600;
    display: inline-block;
}

/* Layout */
.row {
    display: flex;
    flex-direction: row;
}

/* Header main */
.header-recipe .row,
.wrapper .row {
    justify-content: space-between;
}

.category {
    color: rgb(151, 151, 151);
    margin-bottom: 10px;
    font-size: 14px;
}

.title-hidden {
    display: none;
}

.star {
    margin-right: 5px;
    font-size: 18px;
}

.star i {
    color: #fb9413;
}

.btn.bg-orange {
    color: white;
    font-size: 14px;
}

/* Wrapper */
.header-recipe {
    margin-bottom: 20px;
}

.card-recipe {
    background-color: white;
    padding: 15px;
    font-size: 14px;
    border-radius: 3px;
    box-shadow: 2px 2px 7px lightgrey;
}

iframe {
    width: 100%;
    height: 365px;
}

.calories {
    padding: 3px 6px;
    background-color: #7b69a2;
    border: 1px solid #7b69a2;
    color: white;
    border-radius: 3px;
}

.info{
    color: #fb9413;
    font-size: 18px;
    font-weight: 600
}


.card-recipe .fa-ul li {
    height: 26px;
}

.card-recipe .fa-ul i {
    color: #fb9413;
}